################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MythicalBeasts-API/mythicalbeasts-api/bin
/MythicalBeasts-API/mythicalbeasts-api/obj
/MythicalBeasts-API/.vs/MythicalBeasts-API
MythicalBeasts-API/.vs/ProjectEvaluation/mythicalbeasts-api.metadata.v8.bin
MythicalBeasts-API/.vs/ProjectEvaluation/mythicalbeasts-api.projects.v8.bin
MythicalBeasts-API/.vs/ProjectEvaluation/mythicalbeasts-api.strings.v8.bin
